<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 th:text="${'hello thymeleaf world'}"></h1>
	<ul>
		<!-- th:each = "변수 : ${목록}" -->
		<li th:each=" dto: ${list}">[[${dto}]]</li>

	</ul>
	<hr />
	<ul>
		<li th:each ="dto, state : ${list}">
			[[${state.index}]] --- [[${dto}]]
		</li>
	</ul>

	<hr>
	<h2>제어문 처리</h2>
	<p>제어문 th:if ~~ unless , 삼항연상자 스타일 사용할 수 있음</p>
	<hr>
	<ul>
		<li th:each=" dto, state : ${list}" th:if="${dto.sno %3 == 0}">
			[[${dto}]]
		</li>
	</ul>
	<hr>
	<ul>
		<li th:each="dto, state : ${list}">
			<span th:if="${dto.sno %3 ==0}" th:text="${'-----------'+dto.sno}"></span>
			<span th:unless="${dto.sno %3 ==0}" th:text="${dto.first}"></span>
		</li>
	</ul>

	<hr>
	<p>타임리프는 삼항연산자를 사용할 수 있는데 특이하게도 단순 if와 같이 2개의 항만을 처리할 수 있다.</p>
	<ul>
		<li th:each="dto,state : ${list}" th:text="${dto.sno %3 ==0}?${dto.sno}"></li>
	</ul>

	<hr>

	<ul>
		<li th:each="dto,state : ${list}" th:text="${dto.sno %3 ==0}?${dto.sno}:${dto.first}"></li>
	</ul>

	<hr>

	<style>
		.taget {
			background-color: red;
		}
	</style>

	<ul>
		<li th:each="dto, state : ${list}" th:class="${dto.sno %3 ==0}?'taget'" th:text="${dto}"></li>

	</ul>


</body>
</html>