<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<ul>
		<!-- 반복해서 번호 이름 등록일을 출력 -->
		<li th:each=" dto : ${list}">
			<!-- 번호를 5자리로 바꿀수있다!! -->
			[[  ${#numbers.formatInteger(dto.sno,5)}]]
			[[${dto.first}]]
			[[${dto.regtime}]]
		</li>

		<hr />
		<li th:each=" dto : ${list}">
			[[${dto.sno}]] -- [[${dto.first}]] -- [[${dto.regtime}]] -- [[${#temporals.format(dto.regtime,'yyyy/MM/dd')}]]

		</li>
	</ul>

</body>
</html>